<div class="form-container">

  <div class="header">
    <h2 class="form-title">Add New Test Case</h2>
    <p class="form-subtitle">Create a comprehensive test case withdeailed infromation.</p>
  </div>

  @if(successMessage()){
  <div class="alert alert-success">
    {{successMessage()}}
  </div>
  }

  @if (error()){
  <div class="alert alert-error">
    {{error()}}
  </div>
  }

  <form [formGroup]="testCaseForm" (ngSubmit)="onSave()" class="test-case-form">

    <div class="form-section">
      <h3 class="section-title">Basic Information</h3>



      <div class="form-row">

        <div class="form-group">

          <label for="title" class="form-label required">Title</label>

          <input id="title" type="text" formControlName="title" class="form-control"
            [class.error]="testCaseForm.get('title')?.invalid && testCaseForm.get('title')?.touched"
            placeholder="Enter descriptive test case title.">
        </div>

        @if(testCaseForm.get('title')?.invalid && testCaseForm.get('title')?.touched){
        <div class="error-message">
          @if(testCaseForm.get('title')?.errors?.['required']){
          <span>Title is required.</span>
          }
          @if(testCaseForm.get('title')?.errors?.['minLength']){
          <span>Title must be at least 3 characters.</span>
          }
        </div>
        }
      </div>

      <!-- Test case id field -->

      <div class="form-group">
        <label for="testCaseId" class="form-label required">Test Case ID</label>
        <input id="testCaseId" type="text" formControlName="testCaseId" class="form-control"
          [class.error]="testCaseForm.get('testCaseId')?.invalid && testCaseForm.get('testCaseId')?.touched"
          placeholder="TC-001">

        @if(testCaseForm.get('testCaseId')?.invalid && testCaseForm.get('testCaseId')?.touched){
        <div class="error-message">
          @if(testCaseForm.get('testCaseId')?.errors?.['required']){
          <span>Test Case ID is required</span>
          }

          @if(testCaseForm.get('testCaseId')?.errors?.['pattern']){
          <span>Format: TC-001 (TC- followed by numbers)</span>

          }
        </div>
        }
      </div>


      <!-- Description field -->
      <div class="form-group">
        <label for="description" class="form-labe required"> Description</label>


        <textarea id="description" formControlName="description" class="form-control textarea"
          [class.error]="testCaseForm.get('description')?.invalid && testCaseForm.get('description')?.touched"
          placeholder="Detailed explanation of what thise case validates..." row="4">
        </textarea>

        @if(testCaseForm.get('description')?.invalid && testCaseForm.get('description')?.touched){
        <div class="error-message">
          @if(testCaseForm.get('description')?.errors?.['required']){
          <span>Description is required.</span>
          }
          @if(testCaseForm.get('description')?.errors?.['minLength']){
          <span>Description must be at least 10 characters</span>
          }
        </div>
        }

      </div>
    </div>

    <!-- Form Actions -->

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" [disabled]="testCaseForm.invalid || isSubmitting()">
        @if(isSubmitting()){
        <span>Creating...</span>
        } @else {
        <span>Save test Case</span>
        }

      </button>

      <button type="button" class="btn btn-secondary" (click)="onCancel()" [disabled]="isSubmitting()">

        Cancel

      </button>
    </div>
  </form>

</div>